body {
	padding-top: 56px;
	margin-top: 30px;
}

ul>li {
	margin-right: 25px;
	font-weight: lighter;
	cursor: pointer
}

li.active {
	border-bottom: 3px solid silver;
}

.item-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #f6f6f6;
}

.menu-items {
	list-style-type: none;
	font-size: 11px;
	display: inline-flex;
	margin-bottom: 0;
	margin-top: 20px
}

.btn-success {
	width: 100%;
	border-radius: 0;
}

.section {
	width: 100%;
	margin-left: -15px;
	padding: 2px;
	padding-left: 15px;
	padding-right: 15px;
	background: #f8f9f9
}

.title-price {
	margin-top: 30px;
	margin-bottom: 0;
	color: black
}

.title-attr {
	margin-top: 0;
	margin-bottom: 0;
	color: black;
}

.btn-minus {
	cursor: pointer;
	font-size: 7px;
	display: flex;
	align-items: center;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid gray;
	border-radius: 2px;
	border-right: 0;
}

.btn-plus {
	cursor: pointer;
	font-size: 7px;
	display: flex;
	align-items: center;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid gray;
	border-radius: 2px;
	border-left: 0;
}

div.section>div {
	width: 100%;
	display: inline-flex;
}

div.section>div>input {
	margin: 0;
	padding-left: 5px;
	font-size: 10px;
	padding-right: 5px;
	max-width: 18%;
	text-align: center;
}

.attr, .attr2 {
	cursor: pointer;
	margin-right: 5px;
	height: 20px;
	font-size: 10px;
	padding: 2px;
	border: 1px solid gray;
	border-radius: 2px;
}

.attr.active, .attr2.active {
	border: 1px solid orange;
}

@media ( max-width : 426px) {
	.container {
		margin-top: 0px !important;
	}
	.container>.row {
		padding: 0 !important;
	}
	.container>.row>.col-xs-12.col-sm-5 {
		padding-right: 0;
	}
	.container>.row>.col-xs-12.col-sm-9>div>p {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.container>.row>.col-xs-12.col-sm-9>div>ul {
		padding-left: 10px !important;
	}
	.section {
		width: 104%;
	}
	.menu-items {
		padding-left: 0;
	}
}

/* Global settings */
.product-image {
	float: left;
	width: 20%;
}

.product-details {
	float: left;
	width: 37%;
}

.product-price {
	float: left;
	width: 12%;
}

.product-quantity {
	float: left;
	width: 10%;
}

.product-removal {
	float: left;
	width: 8%;
}

.product-line-price {
	float: left;
	width: 12%;
	text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before,
	.totals-item:before, .group:after, .shopping-cart:after, .column-labels:after,
	.product:after, .totals-item:after {
	content: '';
	display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after,
	.totals-item:after {
	clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
	zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before,
	.totals-value:before {
	
}

/* Body/Header stuff */
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
}

h1 {
	font-weight: 100;
}

label {
	color: #aaa;
}

.shopping-cart {
	margin-top: 45px;
}

/* Column headers */
.column-labels label {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.column-labels .product-image, .column-labels .product-details {
	text-indent: -9999px;
}

/* Product entries */
.product {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.product .product-image {
	text-align: center;
}

.product .product-image img {
	width: 100px;
}

.product .product-details .product-title {
	margin-right: 20px;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.product .product-details .product-description {
	margin: 5px 20px 5px 0;
	line-height: 1.4em;
}

.product .product-quantity input {
	width: 40px;
}

.product .remove-product {
	border: 0;
	padding: 4px 8px;
	background-color: #c66;
	color: #fff;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
	font-size: 12px;
	border-radius: 3px;
}

.product .remove-product:hover {
	background-color: #a44;
}

/* Totals section */
.totals .totals-item {
	float: right;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}

.totals .totals-item label {
	float: left;
	clear: both;
	width: 79%;
	text-align: right;
}

.totals .totals-item .totals-value {
	float: right;
	width: 21%;
	text-align: right;
}

.totals .totals-item-total {
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.checkout {
	float: right;
	border: 0;
	margin-top: 20px;
	padding: 6px 25px;
	background-color: #6b6;
	color: #fff;
	font-size: 25px;
	border-radius: 3px;
}

.checkout:hover {
	background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
	.shopping-cart {
		margin: 0;
		padding-top: 20px;
		border-top: 1px solid #eee;
	}
	.column-labels {
		display: none;
	}
	.product-image {
		float: right;
		width: auto;
	}
	.product-image img {
		margin: 0 0 10px 10px;
	}
	.product-details {
		float: none;
		margin-bottom: 10px;
		width: auto;
	}
	.product-price {
		clear: both;
		width: 70px;
	}
	.product-quantity {
		width: 100px;
	}
	.product-quantity input {
		margin-left: 20px;
	}
	.product-quantity:before {
		content: 'x';
	}
	.product-removal {
		clear: both;
		width: 50px;
	}
	.product-line-price {
		float: right;
		width: 70px;
	}
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
	.product-removal {
		float: right;
	}
	.product-line-price {
		float: right;
		clear: left;
		width: auto;
		margin-top: 10px;
	}
	.product .product-line-price:before {
		content: 'Item Total: $';
	}
	.totals .totals-item label {
		width: 60%;
	}
	.totals .totals-item .totals-value {
		width: 40%; 
	}  
}
 
/* 주문 정보 */
#shipping_message{
    width: 374px; 
    height: 80px;
}

.d_form{
	width:100%; 
}

.mini{
	width:50%; 
}
.modify-des{
	color:red;
	padding-left: 30px;
}  	 
  
.order-title, #adress-api{
    padding-left: 30px; 	
}

.pos-rel {
	position: relative; 
}

.pos-rel .nav-item {
	margin: 0 1em;
}

.connected-line {
	border-bottom: 1px solid #007bff;
	position: relative; 
    width: 800px;
    margin-left: 30px;
	top: -20px;
	z-index: -1;
}

.seminor-login-modal-body .close {
	position: relative;
	top: -45px;
	left: 10px;
	color: #1cd8ad;
}

.seminor-login-modal-body .close {
	opacity: 0.75;
}

.seminor-login-modal-body .close:focus, .seminor-login-modal-body .close:hover
	{
	color: #39e8b0;
	opacity: 1;
	text-decoration: none;
	outline: 0;
}

.seminor-login-modal .modal-dialog .modal-content {
	border-radius: 0px;
}

/* form animation */
.seminor-login-form .form-group {
	position: relative;
	margin-bottom: 1.5em !important;
}

.seminor-login-form .form-control {
	border: 0px solid #ced4da !important;
	border-bottom: 1px solid #adadad !important;
	border-radius: 0 !important;
}

.seminor-login-form .form-control:focus, .seminor-login-form .form-control:active
	{
	outline: none !important;
	outline-width: 0;
	border-color: #adadad !important;
	box-shadow: 0 0 0 0.2rem transparent;
}

*:focus {
	outline: none;
}

.seminor-login-form {
	padding: 2em 0 0;
}

.form-control-placeholder {
	position: absolute;
	top: 0;
	padding: 7px 0 0 13px;
	transition: all 200ms;
	opacity: 0.5;
	border-top: 0px;
	border-left: 0;
	border-right: 0;
}

.form-control:focus+.form-control-placeholder, .form-control:valid+.form-control-placeholder
	{
	font-size: 75%;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	opacity: 1;
}

.container-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark-box {
	position: absolute;
	top: -5px;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #adadad;
}

.container-checkbox {
	display: block;
	position: relative;
	padding-left: 40px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 1.1;
}

.container-checkbox input:checked ~ .checkmark-box:after {
	color: #fff;
}

.container-checkbox input:checked ~ .checkmark-box:after {
	display: block;
}

.container-checkbox .checkmark-box:after {
	left: 10px;
	top: 4px;
	width: 7px;
	height: 15px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.checkmark:after, .checkmark-box:after {
	content: "";
	position: absolute;
	display: none;
}

.container-checkbox input:checked ~ .checkmark-box {
	background-color: #f58220;
	border: 0px solid transparent;
}

.btn-check-log .btn-check-login {
	font-size: 16px;
	padding: 10px 0;
}

button.btn-check-login:hover {
	color: #fff;
	background-color: #f
	58220;
	border: 2px solid #f58220;
}

.btn-check-login {
	color: #f58220;
	background-color: transparent;
	border: 2px solid #f58220;
	transition: all ease-in-out .3s;
}

.btn-check-login {
	display: inline-block;
	padding: 12px 0;
	margin-bottom: 0;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border-radius: 0;
	width: 100%;
}

.forgot-pass-fau a {
	text-decoration: none !important;
	font-size: 14px;
}

.text-primary-fau {
	color: #1959a2;
}

.select-form-control-placeholder {
	font-size: 100%;
	padding: 7px 0 0 13px;
	margin: 0;
}